body{
    overflow: hidden;
}
.grid {

    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
}

.grid div {    
    z-index: 0;
    width: 20px;
    height: 20px;
}

.controls {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.buttonW {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: transparent;
    background-color: gainsboro;
    width: 50px;
    height: 50px;
}

.buttonA,
.buttonS,
.buttonD {
    border: transparent;
    background-color: gainsboro;
}

.lil {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.wall {
    background-color: rgba(128, 128, 128, 0.466);
}

.snake-body {
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}

.snake-head {
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}

.apple {
    border-radius: 15%;
    background-color: red;
}
.score{
    position: relative;
    font-size: 3rem;
    font-family: 'VT323';
}
.gameover{    
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.gameover-message{
    z-index: 1;
    margin-top: -20rem;
    color: red;
    font-size: 5rem;
    font-family: 'VT323';
}
.character{
    font-family: 'VT323';
    font-size: 1.8rem;
    position: absolute;
    border: transparent;
    border-radius: 10%;
}
.character:hover{
    cursor: pointer;
    background-color: lightgrey; 
}
.keys{
    margin-top: -25rem;
    margin-left: 2.7rem;
    position: absolute;
    width: 300px;
    height: 200px;
}
.w, .a, .s, .d{
    background-color: black;
    color: white;
    font-family: 'VT323';
    font-size: 3rem;
    padding-top: 25px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    width: 60px;
    height: 74px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20%;
}
.w:hover, .a:hover, .s:hover, .d:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;
}
.w{
    padding-left: 40px;
    width: 60px;
    height: 74px;
    margin-bottom: -3rem;
}
.a, .s, .d{
    padding-left: 38px;
}
.skeys{
    display: flex;
}
